/* Styling the body background */
body {
  background-color: #00b3e6; /* Light blue background */
}

/* Styling the div container */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
  padding: 30px;
}

/* Styling the main header */
#main-header {
  font-size: 22px;
  color: red; /* Ensuring the CSS link works */
}

/* Styling the questions to be italic */
.perspective-questions {
  font-style: italic;
}

